<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Previus Temp</title>
</head>
<body>
    <form class="cont-login" method="POST" action="/registrar">
        <img src="static/images/titulo04.png" class="img-logo">

        <div class="introsite">
            <p>Este é o lugar onde você pode contar com informações precisas e atualizadas sobre o clima em sua região. Seja bem-vindo ao seu companheiro meteorológico online.</p>
        </div>
        <input class="loginusuario" placeholder="Nome ou apelido" type="text" name="username" required><br><br>
        <input class="loginemail" placeholder="Endereço de e-mail" type="email" name="email" required><br><br>
        <input class="botao-acesso" type="submit" value="Registra-se" href="/previsaotempo">
        <div class="msgacesso">
            <p>Consultar <a href="/documentacao">Documentação</a></p>
        </div>
    </form>
    <img src="static/images/assinaturagio.png" class="assinatura">
    <script>
    </script>
</body>
</html>
